.sidebar-container {
  width: 235px;
  height: 100vh;
  background-color: #f1f3f5; /* Gris claro más suave */
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.08);
}

.list-group {
  width: 100%;
}

.list-group-item {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #003366; /* Azul oscuro */
  border: none;
  border-radius: 8px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: #ffffff;
  font-weight: 500;
}

.list-group-item:hover {
  background-color: #e6f0ff; /* Azul suave al pasar el mouse */
  color: #0d6efd; /* Azul brillante */
}

.active {
  background-color: #0d6efd !important; /* Azul brillante */
  color: #ffffff !important;
  font-weight: 600;
}
